<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/admin.css') }}" type="text/css" media="all" />
            <script   src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    </head>
    <body>
        

<div id="container">
    
    <!--nav-horizontal-->
            
    <nav class="navbar-hor navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="{{path("home")}}">
       <img src="{{ asset('bundles/framework/images/minlogo-black-hl.png') }}"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{path("connect")}}">Déconnexion</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  
    
    <!--fin-nav-horizontal-->
    
    
    <!--nav-vertical-->
    
<div id="nav-vertical">
<nav class="navbar-vert navbar-admin" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header-vert">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn-search btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>
    <ul class="nav navbar-nav-vert">
      <li><a href="{{path("web")}}">Projets Web</a></li>
      <li><a href="#">Projets Print</a></li>
      <li><a href="#">Formations</a></li>
      <li><a href="#">Illustrations</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</div>
    <!--fin-nav-vertical-->
   
    
    
</div>
      {% block web %}
    <p class="title-home"> page home </p>
    {% endblock %}
    </body>
</html>
